<div id="page-content" ng-controller="profileController">

    <div class="container">
        <div class="row mailbox-wrapper">
            <div class="col-md-4">
                <div class="panel-layout">
                    <div class="panel-box">
                        <div class="panel-content image-box">
                            <div class="ribbon" ng-if="$shared.user.userType === 1">
                                <div class="bg-black font-inverse">Administrador</div>
                            </div>
                            <div class="image-content font-white">
                                <div class="meta-box meta-box-bottom">
                                    <img ng-src="{{$shared.user.information.avatar || 'assets/image-resources/default-avatar.png'}}"
                                         alt=""
                                         class="meta-image img-bordered img-circle" width="150px">
                                    <h3 class="meta-heading">{{$shared.user.information.name + ' ' +
                                        $shared.user.information.lastName}}</h3>
                                    <h4 class="meta-subheading">{{$shared.user.email}}</h4>
                                </div>

                            </div>
                            <img src="assets/image-resources/blurred-bg/blurred-bg-13.jpg" alt="">

                        </div>
                        <div class="panel-content pad15A bg-white radius-bottom-all-4">
                            <div class="mrg15T mrg15B"></div>
                            <blockquote class="font-gray">
                                <p>
                                    {{$shared.user.information.street}} #{{$shared.user.information.outsideNumber}},
                                    &nbsp;{{$shared.user.information.neighborhood}},
                                    &nbsp;CP&nbsp;{{$shared.user.information.zipCode}}
                                </p>
                                <small>
                                    {{$shared.user.information.city.name}},&nbsp;{{$shared.user.information.state.name}},&nbsp;{{$shared.user.information.country.name.common}}
                                </small>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="content-box mrg15B visible-lg visible-sm visible-md visible-xl">
                    <h3 class="content-box-header clearfix">
                        Actividad reciente
                        <div class="font-size-11 float-right">
                            <a href="#" title="">
                                <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                            </a>
                            <a href="#" title="">
                                <i class="glyph-icon opacity-hover icon-cog"></i>
                            </a>
                        </div>
                    </h3>
                    <div class="content-box-wrapper text-center clearfix">
                        <div class="timeline-box timeline-box-right">
                            <div class="tl-row">
                                <div class="tl-item">
                                    <div class="tl-icon bg-yellow">
                                        <i class="glyph-icon icon-eyedropper"></i>
                                    </div>
                                    <div class="popover left">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-success">Meeting</div>
                                            <p class="tl-content">Quisque volutpat mattis eros. Nullam
                                                malesuada erat ut turpis.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item">
                                    <div class="tl-icon bg-blue">
                                        <i class="glyph-icon icon-line-chart"></i>
                                    </div>
                                    <div class="popover left">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-danger">Audio</div>
                                            <p class="tl-content">Quisque volutpat mattis eros. Nullam
                                                malesuada erat ut turpis.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item">
                                    <div class="tl-icon bg-blue">
                                        <i class="glyph-icon icon-cab"></i>
                                    </div>
                                    <div class="popover left">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="tl-label bs-label label-warning">Video</div>
                                            <p class="tl-content">Quisque volutpat mattis eros. Nullam
                                                malesuada erat ut turpis.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <form class="col-md-8" ng-submit="saveProfile()">
                <div class="content-box visible-sm visible-md visible-lg visible-xl">
                    <div class="mail-header clearfix row">
                        <div class="col-md-12">
                            <span class="mail-title">Mi Perfil - {{$shared.user.username}}</span>
                            <div class="float-right pad5R">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            <div class="float-right pad5R">
                                <button type="button" ng-click="redirect('')" class="btn btn-default"><i
                                        class="glyph-icon icon-arrow-left"></i>&nbsp;Atrás
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="example-box-wrapper">
                    <ul class="list-group row list-group-icons">
                        <li class="col-md-3 active">
                            <a href data-target="#tab-information" data-toggle="tab" class="list-group-item">
                                <i class="glyph-icon font-primary icon-user"></i>
                                Información personal
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href data-target="#tab-contact" data-toggle="tab" class="list-group-item">
                                <i class="glyph-icon font-azure icon-phone-square"></i>
                                Contacto
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href data-target="#tab-security" data-toggle="tab" class="list-group-item">
                                <i class="glyph-icon font-green icon-shield"></i>
                                Seguridad
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href data-target="#tab-settings" data-toggle="tab" class="list-group-item">
                                <i class="glyph-icon font-orange icon-cogs"></i>
                                Configuración
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane pad0A fade active in" id="tab-information">
                            <div class="alert alert-close {{alert.type || 'alert-success'}}" ng-if="alert">
                                <a href="#" title="Close"
                                   class="glyph-icon alert-close-btn icon-remove"></a>
                                <div class="{{alert.iconBg || 'bg-green '}} alert-icon">
                                    <i class="glyph-icon {{alert.iconBg || 'icon-check'}}"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{alert.title}}</h4>
                                    <p>{{alert.body}}</p>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="form-horizontal pad15L pad15R bordered-row">
                                    <div class="form-group remove-border">
                                        <label class="col-sm-3 control-label">Nombre:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="6"
                                                   ng-model="$shared.user.information.name"
                                                   placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Apellidos:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="6"
                                                   ng-model="$shared.user.information.lastName"
                                                   placeholder="Apellidos">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Género:</label>
                                        <div class="col-sm-6">
                                            <input type="checkbox"
                                                   data-on-color="info"
                                                   data-off-color="danger"
                                                   data-size="small"
                                                   id="checkbox-genre"
                                                   class="input-switch" data-on-text="H"
                                                   data-off-text="M">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">País</label>
                                        <div class="col-sm-6">
                                            <input type="hidden" id="select-country" style="width:100% !important"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Estado</label>
                                        <div class="col-sm-6" ng-disabled="!selectedCountry">
                                            <input type="hidden" id="select-state" style="width:100% !important"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Ciudad</label>
                                        <div class="col-sm-6" ng-disabled="!selectedState">
                                            <input type="hidden" id="select-city" style="width:100% !important"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Calle:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="2"
                                                   ng-model="$shared.user.information.street"
                                                   placeholder="Calle">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Numero exterior:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="2"
                                                   ng-model="$shared.user.information.outsideNumber"
                                                   placeholder="Calle">
                                        </div>
                                    </div>
                                    <div class="form-group mrg15B">
                                        <label class="col-sm-3 control-label">Código Postal:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="2"
                                                   ng-model="$shared.user.information.zipCode"
                                                   placeholder="Código postal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane pad0A fade in" id="tab-contact">
                            <div class="alert alert-close {{alert.type || 'alert-success'}}" ng-if="alert">
                                <a href="#" title="Close"
                                   class="glyph-icon alert-close-btn icon-remove"></a>
                                <div class="{{alert.iconBg || 'bg-green '}} alert-icon">
                                    <i class="glyph-icon {{alert.iconBg || 'icon-check'}}"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{alert.title}}</h4>
                                    <p>{{alert.body}}</p>
                                </div>
                            </div>
                            <div class="content-box">
                                <div class="form-horizontal pad15L pad15R bordered-row">
                                    <div class="form-group remove-border">
                                        <label class="col-sm-3 control-label">Teléfono:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="10"
                                                   ng-model="$shared.user.information.phone"
                                                   placeholder="Telefono">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Celular:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control"
                                                   required
                                                   minlength="10"
                                                   ng-model="$shared.user.information.mobilePhone"
                                                   placeholder="Celular">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" id="inlineCheckbox110" class="custom-checkbox" ng-model="$shared.user.security.notify">
                                                    Enviar notificaciones
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-sm-offset-3" ng-show="$shared.user.security.notify">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" id="inlineCheckbox111" class="custom-checkbox" ng-model="$shared.user.security.contactByEmail">
                                                    Notificar por Correo Electrónico
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mrg15B">
                                        <div class="col-sm-6 col-sm-offset-3" ng-show="$shared.user.security.notify">
                                            <div class="checkbox checkbox-primary">
                                                <label>
                                                    <input type="checkbox" id="inlineCheckbox112" class="custom-checkbox" ng-model="$shared.user.security.contactByPhone">
                                                    Notificar por SMS
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-security">
                            <div class="alert alert-close {{alert.type || 'alert-success'}}" ng-if="alert">
                                <a href="#" title="Close"
                                   class="glyph-icon alert-close-btn icon-remove"></a>
                                <div class="{{alert.iconBg || 'bg-green '}} alert-icon">
                                    <i class="glyph-icon {{alert.iconBg || 'icon-check'}}"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{alert.title}}</h4>
                                    <p>{{alert.body}}</p>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-settings">
                            <div class="alert alert-close {{alert.type || 'alert-success'}}" ng-if="alert">
                                <a href="#" title="Close"
                                   class="glyph-icon alert-close-btn icon-remove"></a>
                                <div class="{{alert.iconBg || 'bg-green '}} alert-icon">
                                    <i class="glyph-icon {{alert.iconBg || 'icon-check'}}"></i>
                                </div>
                                <div class="alert-content">
                                    <h4 class="alert-title">{{alert.title}}</h4>
                                    <p>{{alert.body}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="content-box mrg15B">
                                        <h3 class="content-box-header clearfix">
                                            Change Password
                                            <div class="font-size-11 float-right">
                                                <a href="#" title="">
                                                    <i class="glyph-icon mrg5R opacity-hover icon-plus"></i>
                                                </a>
                                                <a href="#" title="">
                                                    <i class="glyph-icon opacity-hover icon-cog"></i>
                                                </a>
                                            </div>
                                        </h3>
                                        <div class="content-box-wrapper pad0T clearfix">
                                            <div class="form-horizontal pad15L pad15R bordered-row">
                                                <div class="form-group">
                                                    <label class="col-sm-6 control-label">Old
                                                        password:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 control-label">New
                                                        password:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 control-label">Repeat
                                                        password:</label>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-pane mrg20T">
                                            <button class="btn btn-success">Actualizar Password</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="content-box mrg15B">
                                        <h3 class="content-box-header clearfix">
                                            Configuración de la Cuenta
                                        </h3>
                                        <div class="content-box-wrapper pad0T clearfix">
                                            <div class="form-horizontal pad15L pad15R bordered-row">
                                                <div class="form-group">
                                                    <label class="col-sm-7 control-label">Hide timeline</label>
                                                    <div class="col-sm-3">
                                                        <input type="checkbox" data-on-color="danger"
                                                               data-size="small" name="checkbox-example-1"
                                                               class="input-switch" data-on-text="On"
                                                               data-off-text="Off">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-7 control-label">Is it active?</label>
                                                    <div class="col-sm-3">
                                                        <input type="checkbox" data-on-color="info"
                                                               data-size="small" name="checkbox-example-2"
                                                               class="input-switch" data-on-text="On"
                                                               data-off-text="Off">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Contraseña:</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" ng-model="oldPassword"
                                                               placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="button-pane mrg20T">
                                            <button type="button" class="btn btn-danger">Desactivar Cuenta</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="content-box">
                                        <div class="form-horizontal clearfix pad15L pad15R pad20B bordered-row">
                                            <h3 class="content-box-header clearfix">
                                                Roles
                                            </h3>
                                            <div class="content-box-wrapper pad0T clearfix">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        {{$shared.user.userType}}
                                                    </div>
                                                    <div class="col-md-12">
                                                        {{$shared.user.roles}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-pane mrg20T">
                                                <button type="button" class="btn btn-success">Actualizar roles</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box visible-xs">
                    <div class="mail-header clearfix row">
                        <div class="col-md-12">
                            <span class="mail-title">Mi Perfil - {{$shared.user.username}}</span>
                            <div class="float-right pad5R">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            <div class="float-right pad5R">
                                <button type="button" ng-click="redirect('')" class="btn btn-default"><i
                                        class="glyph-icon icon-arrow-left"></i>&nbsp;Atrás
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>