<div class="scrollable-content scrollable-slim-sidebar">
    <div class="pad10A">
        <div class="divider-header">Online</div>
        <ul class="chat-box">
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial1.jpg" alt="">
                    <div class="small-badge bg-green"></div>
                </div>
                <b>
                    Grace Padilla
                </b>
                <p>On the other hand, we denounce...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial2.jpg" alt="">
                    <div class="small-badge bg-green"></div>
                </div>
                <b>
                    Carl Gamble
                </b>
                <p>Dislike men who are so beguiled...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial3.jpg" alt="">
                    <div class="small-badge bg-green"></div>
                </div>
                <b>
                    Michael Poole
                </b>
                <p>Of pleasure of the moment, so...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial4.jpg" alt="">
                    <div class="small-badge bg-green"></div>
                </div>
                <b>
                    Bill Green
                </b>
                <p>That they cannot foresee the...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial5.jpg" alt="">
                    <div class="small-badge bg-green"></div>
                </div>
                <b>
                    Cheryl Soucy
                </b>
                <p>Pain and trouble that are bound...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
        </ul>
        <div class="divider-header">Idle</div>
        <ul class="chat-box">
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial6.jpg" alt="">
                    <div class="small-badge bg-orange"></div>
                </div>
                <b>
                    Jose Kramer
                </b>
                <p>Equal blame belongs to those...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial7.jpg" alt="">
                    <div class="small-badge bg-orange"></div>
                </div>
                <b>
                    Dan Garcia
                </b>
                <p>Weakness of will, which is same...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial8.jpg" alt="">
                    <div class="small-badge bg-orange"></div>
                </div>
                <b>
                    Edward Bridges
                </b>
                <p>These cases are perfectly simple...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
        </ul>
        <div class="divider-header">Offline</div>
        <ul class="chat-box">
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial1.jpg" alt="">
                    <div class="small-badge bg-red"></div>
                </div>
                <b>
                    Randy Herod
                </b>
                <p>In a free hour, when our power...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
            <li>
                <div class="status-badge">
                    <img class="img-circle" width="40"
                         src="assets/image-resources/people/testimonial2.jpg" alt="">
                    <div class="small-badge bg-red"></div>
                </div>
                <b>
                    Patricia Bagley
                </b>
                <p>when nothing prevents our being...</p>
                <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i
                        class="glyph-icon icon-comments-o"></i></a>
            </li>
        </ul>
    </div>
</div>