

<div id="mobile-navigation">
<button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar">
    <span></span></button>
<a href ng-click="redirect('')" class="logo-content-small" title="Xentinel"></a>
</div>
<div id="header-logo" class="logo-bg">
    <a href ng-click="redirect('')" class="logo-content-big" title="Xentinel">
        Xentinel <i>io</i>
        <span>La plataforma GPS más rapida</span>
    </a>
    <a href ng-click="redirect('')" class="logo-content-small" title="Xentinel">
        Xentinel <i>io</i>
        <span>La plataforma GPS más rapida</span>
    </a>
    <a id="close-sidebar" href ng-click="toggleSidebar()" title="Close sidebar">
        <i class="glyph-icon icon-angle-left sidebar"></i>
    </a>
</div>
<div id="header-nav-left">
    <div class="user-account-btn dropdown">
        <a href title="My Account" class="user-profile clearfix" data-toggle="dropdown">
            <img width="28" ng-src="{{$shared.user.information.avatar || 'assets/image-resources/default-avatar.png'}}" alt="Profile image">
            <span>{{$shared.user.information.name + ' ' + $shared.user.information.lastName}}</span>
            <i class="glyph-icon icon-angle-down"></i>
        </a>
        <div class="dropdown-menu float-left">
            <div class="box-sm">
                <div class="login-box clearfix">
                    <div class="user-img">
                        <a href ng-click="redirect('profile')" title="" class="change-img">Editar perfil</a>
                        <img ng-src="{{$shared.user.information.avatar || 'assets/image-resources/default-avatar.png'}}" alt="">
                    </div>
                    <div class="user-info">
                    <span>
                        {{$shared.user.information.name + ' ' + $shared.user.information.lastName}}
                        <i>{{$shared.user.email}}</i>
                    </span>
                        <a href ng-click="redirect('profile')" title="Edit profile">Editar Perfil</a>
                    </div>
                </div>
                <div class="divider"></div>
                <ul class="reset-ul mrg5B">
                    <li>
                        <a href ng-click="toggleSlidebar('left')" >
                            <i class="glyph-icon float-right icon-linecons-paper-plane"></i>
                            View List Left
                        </a>
                    </li>
                    <li>
                        <a href ng-click="toggleSlidebar('right')" >
                            <i class="glyph-icon float-right icon-linecons-cloud"></i>
                            View List Right
                        </a>
                    </li>
                    <li>
                        <a href >
                            <i class="glyph-icon float-right text-{{serverStatus === 'Online' ? 'success' : 'danger' }} icon-database"></i>
                            Server {{serverStatus}}
                        </a>
                    </li>
                </ul>
                <div class="pad5A button-pane button-pane-alt text-center">
                    <a href ng-click="logout()" class="btn display-block font-normal btn-danger">
                        <i class="glyph-icon icon-power-off"></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- #header-nav-left -->
<div id="header-nav-right">
    <a href data-placement="bottom" class="hdr-btn popover-button tooltip-button" title="Search"
       data-id="#popover-search">
        <i class="glyph-icon icon-search"></i>
    </a>
    <div class="hide" id="popover-search">
        <div class="pad5A">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search terms here ...">
                <span class="input-group-btn">
            <a class="btn btn-primary" href >Search</a>
        </span>
            </div>
        </div>
    </div>
    <a href data-placement="bottom" class="hdr-btn tooltip-button" id="fullscreen-btn" title="Pantalla Completa">
        <i class="glyph-icon icon-arrows-alt"></i>
    </a>
    <a href ng-click="toggleSlidebar('left')" data-placement="bottom" class="hdr-btn sb-toggle-left tooltip-button" id="chatbox-btn" title="Chat">
        <i class="glyph-icon icon-linecons-paper-plane"></i>
    </a>
    <div class="dropdown visible-lg visible-sm visible-md visible-xl">
        <a href data-placement="bottom" class="hdr-btn tooltip-button" title="Estado del Servidor">
            <span class="small-badge bg-{{serverStatus === 'Online' ? 'green' : 'red' }}"></span>
            <i class="glyph-icon icon-database"></i>
        </a>
    </div>
    <div class="dropdown" id="notifications-btn">
        <a data-toggle="dropdown" href data-placement="bottom" class="tooltip-button"
           title="Notifications">
            <span class="small-badge bg-yellow"></span>
            <i class="glyph-icon icon-linecons-megaphone"></i>
        </a>
        <div class="dropdown-menu box-md float-right">

            <div class="popover-title display-block clearfix pad10A">
                Notifications
                <a class="text-transform-cap font-primary font-normal btn-link float-right" href="#"
                   title="View more options">
                    More options...
                </a>
            </div>
            <div class="scrollable-content scrollable-slim-box">
                <ul class="no-border notifications-box">
                    <li>
                        <span class="bg-danger icon-notification glyph-icon icon-bullhorn"></span>
                        <span class="notification-text">This is an error notification</span>
                        <div class="notification-time">
                            a few seconds ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-warning icon-notification glyph-icon icon-users"></span>
                        <span class="notification-text font-blue">This is a warning notification</span>
                        <div class="notification-time">
                            <b>15</b> minutes ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-green icon-notification glyph-icon icon-sitemap"></span>
                        <span class="notification-text font-green">A success message example.</span>
                        <div class="notification-time">
                            <b>2 hours</b> ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-azure icon-notification glyph-icon icon-random"></span>
                        <span class="notification-text">This is an error notification</span>
                        <div class="notification-time">
                            a few seconds ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                        <span class="notification-text">This is a warning notification</span>
                        <div class="notification-time">
                            <b>15</b> minutes ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text font-blue">Alternate notification styling.</span>
                        <div class="notification-time">
                            <b>2 hours</b> ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text">This is an error notification</span>
                        <div class="notification-time">
                            a few seconds ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text">This is a warning notification</span>
                        <div class="notification-time">
                            <b>15</b> minutes ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-green icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text font-green">A success message example.</span>
                        <div class="notification-time">
                            <b>2 hours</b> ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text">This is an error notification</span>
                        <div class="notification-time">
                            a few seconds ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                    <li>
                        <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                        <span class="notification-text">This is a warning notification</span>
                        <div class="notification-time">
                            <b>15</b> minutes ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pad10A button-pane button-pane-alt text-center">
                <a href="#" class="btn btn-primary" title="View all notifications">
                    View all notifications
                </a>
            </div>
        </div>
    </div>
    <div class="dropdown" id="progress-btn">
        <a data-toggle="dropdown" href data-placement="bottom" class="tooltip-button" title="Progress">
            <span class="small-badge bg-azure"></span>
            <i class="glyph-icon icon-linecons-params"></i>
        </a>
        <div class="dropdown-menu pad0A box-sm float-right" id="progress-dropdown">
            <div class="scrollable-content scrollable-slim-box">
                <ul class="no-border progress-box progress-box-links">
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">23%</b>
                            <div class="progress-title">
                                Finishing uploading files

                            </div>
                            <div class="progressbar-smaller progressbar" data-value="23">
                                <div class="progressbar-value bg-blue-alt">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">91%</b>
                            <div class="progress-title">
                                Roadmap progress
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="91">
                                <div class="progressbar-value bg-red">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">58%</b>
                            <div class="progress-title">
                                Images upload
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="58">
                                <div class="progressbar-value bg-green"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">74%</b>
                            <div class="progress-title">
                                WordPress migration
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="74">
                                <div class="progressbar-value bg-purple"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">91%</b>
                            <div class="progress-title">
                                Agile development procedures
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="91">
                                <div class="progressbar-value bg-black">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">58%</b>
                            <div class="progress-title">
                                Systems integration
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="58">
                                <div class="progressbar-value bg-azure"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <b class="pull-right">97%</b>
                            <div class="progress-title">
                                Code optimizations
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="97">
                                <div class="progressbar-value bg-yellow"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pad5A button-pane button-pane-alt text-center">
                <a href="#" class="btn display-block font-normal hover-green"
                   title="View all notifications">
                    View all notifications
                </a>
            </div>
        </div>
    </div>
    <div class="dropdown" id="cloud-btn">
        <a href data-placement="bottom" ng-click="toggleSlidebar('right')"  class="tooltip-button sb-toggle-right"
           title="Statistics Sidebar">
            <i class="glyph-icon icon-linecons-cloud"></i>
        </a>
    </div>
    <div class="dropdown" id="dashnav-btn">
        <a href="#" data-toggle="dropdown" data-placement="bottom"
           class="popover-button-header tooltip-button" title="Dashboard Quick Menu">
            <i class="glyph-icon icon-linecons-cog"></i>
        </a>
        <div class="dropdown-menu float-right">
            <div class="box-sm">
                <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                    <a href="#" class="btn vertical-button hover-blue-alt" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                </span>
                        Dashboard
                    </a>
                    <a href="#" class="btn vertical-button hover-green" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                </span>
                        Widgets
                    </a>
                    <a href="#" class="btn vertical-button hover-orange" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                </span>
                        Tables
                    </a>
                    <a href="#" class="btn vertical-button hover-orange" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                </span>
                        Charts
                    </a>
                    <a href="#" class="btn vertical-button hover-purple" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                </span>
                        Buttons
                    </a>
                    <a href="#" class="btn vertical-button hover-azure" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                </span>
                        Panels
                    </a>
                </div>
                <div class="divider"></div>
                <div class="pad5T pad5B pad10L pad10R dashboard-buttons clearfix">
                    <a href="#" class="btn vertical-button remove-border btn-info" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                </span>
                        Dashboard
                    </a>
                    <a href="#" class="btn vertical-button remove-border btn-danger" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                </span>
                        Widgets
                    </a>
                    <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                </span>
                        Tables
                    </a>
                    <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                </span>
                        Charts
                    </a>
                    <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                </span>
                        Buttons
                    </a>
                    <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                <span class="glyph-icon icon-separator-vertical pad0A medium">
                    <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                </span>
                        Panels
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a class="header-btn" id="logout-btn" href="lockscreen-3.html" title="Lockscreen page example">
        <i class="glyph-icon icon-linecons-lock"></i>
    </a>

</div><!-- #header-nav-right -->
