<div class="center-vertical" style="width: 100%; position: fixed;" ng-controller="loginController">
    <div class="center-content row">

        <div class="col-md-8 col-lg-6 clearfix center-margin">
            <div class="row">
                <div class="col-md-5">
                    <h3 class="text-transform-upr font-size-17">Xentinel <span class="opacity-80">v2.0</span></h3>
                    <p class="font-gray">La plataforma GPS Tracker más rápida.</p>
                    <div class="divider"></div>
                    <ul class="reset-ul">
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-map-marker mrg15R font-green"></i>
                            Seguimiento en Tiempo Real
                        </li>
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-mobile mrg15R font-red"></i>
                            Apps Mobiles
                        </li>
                        <li class="pad10A font-size-16">
                            <i class="glyph-icon icon-bar-chart mrg5R font-orange"></i>
                            Reportes exclusivos
                        </li>
                    </ul>
                    <div class="divider"></div>
                    ¿Aún no tiene cuenta? <a href="" title="Register">¡Llame al departamento de ventas!</a>
                    <br>
                </div>

                <div class="col-md-7">

                    <form ng-submit="login()">
                        <div class="content-box">
                            <h3 class="content-box-header content-box-header-alt bg-default">
                                <span class="icon-separator" style="padding: 12px 13px;">
                                    <img src="image-resources/favicon/favicon.png" style="width: 35px;">
                                </span>
                                <span class="header-wrapper">
                                    Xentinel
                                    <small>Inicia sesión a tu cuenta</small>
                                </span>
                                <span class="header-buttons">
                                    <a href="#" class="btn btn-sm btn-primary" title="">Registrarme</a>
                                </span>
                            </h3>
                            <div class="content-box-wrapper">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" minlength="1" required ng-model="user.username" class="form-control" id="exampleInputEmail1" placeholder="Usuario">
                                        <span class="input-group-addon bg-blue">
                                            <i class="glyph-icon icon-user"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" ng-model="user.password" required class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                                        <span class="input-group-addon bg-blue">
                                            <i class="glyph-icon icon-unlock-alt"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a href="" title="Recover password">¿Olvidó su contraseña?</a>
                                </div>
                                <button class="btn btn-success btn-block">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>